@* Control Panel *@
<form id="formBlinds">
    @* Header *@
    <div id="header">
        <div id="headerDroppedCap">W</div>
        <div id="headerText">orkings</div>
        <div id="headerPitifulSelf">
            <a class="nav-link text-dark" asp-area=""
               asp-controller="Home" asp-action="Index">
                <i>by</i> archy.dev <i>on behalf of</i> HARDY'S
            </a>
        </div>
    </div>

    @* Control Panel *@
    <partial name="_Control_Panel/_Details"/>
    <partial name="_Control_Panel/_Dimensions"/>
    <partial name="_Control_Panel/_Fabric"/>
    <partial name="_Control_Panel/_Lining"/>
    <partial name="_Control_Panel/_Railing"/>
    <partial name="_Control_Panel/_Stack"/>
    <partial name="_Control_Panel/_Pocket"/>
    <partial name="_Control_Panel/_Ring"/>

    @* Buttons at bottom of side menu (Reset - Generate - Print) *@
    <div id="submitButtons">
        <input class="button" type="reset" name="resetButton" value="Reset" onclick="">
        <input class="button" type="submit" name="submit" value="Generate">
        <input class="button" type="button" name="print" value="Print" onclick="window.print()">
    </div>
</form>