<!-- POCKETS -->
<fieldset class="closedByDefault">
    <legend>Pockets:<span class="arrowDown">&#9663;</span>
        <span class="arrowUp">&#10548;</span></legend>

    <div class="fieldContent">
        &lt;!&ndash; POCKET DEPTH &ndash;&gt;
        <label>Depth:</label>
        <input id="pocketsDepth" type="number" name="pocketDepth"
               step="0.05" placeholder="3">
        <select class="unitsSelect">
            <option value="mm">mm</option>
            <option value="cm" selected>cm</option>
            <option value="in">in</option>
        </select>
    </div>
</fieldset>