@* Printable Section *@
<div id="section-to-print">
    <div id="drawingBox">
        @* Placeholder (removed by script) *@
        <div id="centrePlaceHolder">
            <div id="placeHolder">Hit <b>generate</b> to produce drawing.</div>
        </div>

        @* Details *@
        <div id="jobDetails">
            <div id="jobDetailsLeft">
                <div id="drawingDetailsClient"></div>
                <div id="drawingDetailsCustAndRef"></div>
            </div>

            @* Initial calculations *@
            <div id="initialCalcs">
                <table id="initialCalcsTable" cellspacing="0">
                    <tr id="initCalcsDropFig"></tr>
                    <tr id="initCalcsVelcroFig"></tr>
                    <tr id="initCalcsRevealFig"></tr>
                    <tr id="initCalcsResultFig"></tr>
                </table>
            </div>
        </div>

        @* Drawing *@
        <div id="blindDrawing">
            <table id="blindTable">
                <!-- Stuff added by script-->
            </table>
        </div>

        @* Measures *@
        <div id="measureDetails">
            <div id="fabricMeasures">
                <!-- Stuff added by script -->
            </div>
            <div id="innerLiningMeasures">
                <!-- Stuff added by script -->
            </div>
            <div id="liningMeasures">
                <!-- Stuff added by script -->
            </div>
        </div>

        @* Number of widths info *@
        <div id="numWidthsInfo">
            <!-- Stuff added by script -->
        </div>

        @* Disclaimer *@
        <div id="disclaimer">
            Disclaimer:
            <ul>
                <li>Check if inner linings are needed, currently unsupported.</li>
                <li>Check fabric repeats for exact cut length needed.</li>
            </ul>
        </div>
    </div>
</div>