@{
    ViewData["Title"] = "Workings";
    Layout = "";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workings</title>
    <link rel="stylesheet" type="text/css" href="~/css/workings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/workings.js"></script>
    @* <script src="~/scripts/Workings/main.js"></script> TODO: Implement me *@
    <link href="https://fonts.googleapis.com/css?family=Cookie|Playfair+Display|Raleway|Josefin+Sans|Dancing+Script|Cookie|Great+Vibes|Kaushan+Script|Playball|Satisfy|Pacifico|Lato"
          rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">
    @* Control Panel *@
    <partial name="_Control_Panel"/>

    @* Print Section *@
    <partial name="_Print"/>
</div>


@* React explore *@
<div id="foo_bar"></div>

<!-- Load React. -->
<!-- TODO: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script src="like_button.js"></script>
</body>