<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!--<aspNetCore processPath=".\archy_dev.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />-->
      <aspNetCore processPath=".\archy_dev.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44337" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" />
    <httpRuntime />
  </system.web>
  <appSettings></appSettings>
</configuration>