@* Fabric *@
<fieldset class="closedByDefault">
    <legend>
        Fabric<span class="arrowDown">&#9663;</span>
        <span class="arrowUp">&#9653;</span>
    </legend>

    <div class="fieldContent">
        @* Width (cutting area excluding selvage *@
        <label>Cut width</label>
        <input id="fabricCutWidth" type="number" name="fabricCutWidth"
               step="0.05" placeholder="123.45">
        <select class="unitsSelect">
            <option value="mm">mm</option>
            <option value="cm" selected>cm</option>
            <option value="in">in</option>
        </select>

        @* Repeat (vertical measure of pattern repeat) *@
        <br><label>Repeat</label>
        <input id="fabricRepeat" type="number" name="fabricRepeat"
               step="0.05" placeholder="23.45">
        <select class="unitsSelect">
            <option value="mm">mm</option>
            <option value="cm" selected>cm</option>
            <option value="in">in</option>
        </select>
    </div>
</fieldset>