@* Rings *@
<fieldset class="closedByDefault">
    <legend>
        Rings<span class="arrowDown">&#9663;</span>
        <span class="arrowUp">&#9653;</span>
    </legend>

    <div class="fieldContent">
        @* Type *@
        <label>Type</label>
        <input id="ringsType" type="text" name="ringType"
               placeholder="Eyelets" list="ringTypeDataList">
        <datalist id="ringTypeDataList">
            <option value="Eyelets set in"/>
            <option value="Outer rings"/>
        </datalist>

        @* Margin *@
        <br><label onclick="">Margins</label>
        <input id="ringsMargin" type="number" name="ringsMargin"
               step="0.05" placeholder="10.5">
        <select class="unitsSelect">
            <option value="mm">mm</option>
            <option value="cm" selected>cm</option>
            <option value="in">in</option>
        </select>

        @* Count *@
        <br><label>Count</label>
        <input id="ringsCount" type="range" name="ringCount" class="slider"
               min="2" max="8" step="1" oninput="ringsCountChange(this.value);">
        <output id="ringsCountText">&lt;!&ndash;Value set by function&ndash;&gt;</output>
    </div>
</fieldset>